   
    <div class="chanel-list">
        <div class="chanel-list-header" data-bind="text:Name"></div>

        <div class="chanel-list-body" data-bind="foreach: Chanels">
            <div class="chanel" data-bind="click: $root.ChangeChanel, css: { selected: Name() == $root.SelectedChanelName(), offline: IsOffline, unread:!AllRead() }">
                <div class="avatar">
                    <img data-bind="attr: { src: AvatarUri }" />
                    <div class="green-dot"></div>
                </div>
                <p class="name">
                    <strong data-bind="text: Name, click: $root.ChangeChanel"></strong>
                </p>
                <span class="action-button unread-icon glyphicon glyphicon-comment"></span> <!--todo move me-->
                <div class="action-button">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a data-bind="click: $root.clickedDropdown1">Zrób coś</a></li>
                            <li><a data-bind="click: $root.clickedDropdown2">Zrób coś innego</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>

