<div class="container">
    <div class="loggeduser-avatar">
        <img class="img-big" data-bind="attr: { src: LoggedUser.AvatarUri }"/>
        <img class="status" src="Content/Images/green-dot.png"/>
    </div>

    <div class="user-detail">
        <p class="loggedusername"><strong data-bind="text: LoggedUser.name"></strong></p>
        <p class="user-email" data-bind="text: LoggedUser.email"></p>
    </div>

    <div class="top-buttons">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-off"></span>
    </div>
</div>

<div class="container list">
    <div class="panel panel-default contacts-list-title">
        <div class="panel-body list">
            Kontakty
        </div>
    </div>
    <div class="list-group contacts-list" data-bind="foreach: ContactChannels">
        <div class="avatar list" data-bind="click: $parent.ChangeChanel">
            <img class="img-small" data-bind="attr: { src: AvatarUri }, css: { imggray: IsOffline }" />
            <img class="status" src="Content/Images/green-dot.png" data-bind="css: { hidestatus: IsOffline }"/>
            <p class="username"><strong data-bind="text: Name, click: $parent.ChangeChanel, css: { imggray: IsOffline }"></strong></p>
            <div class="list-buttons">
                <span class="glyphicon glyphicon-comment" data-bind="css: { imggray: IsOffline, hiddecommentglyph: AllRead }"></span>
                <span class="glyphicon glyphicon-option-vertical" data-bind="css: { imggray: IsOffline }"></span>
            </div>
        </div>
    </div>
</div>

<div class="container list">
    <div class="panel panel-default contacts-list-title">
        <div class="panel-body list">
            Grupy
        </div>
    </div>
    <div class="list-group contacts-list" data-bind="foreach: GroupChannels">
        <div class="avatar list" data-bind="click: $parent.ChangeChanel">
            <img class="img-small" data-bind="attr: { src: AvatarUri }, css: { imggray: IsOffline }"/>
            <img class="status" src="Content/Images/green-dot.png" data-bind="css: { hidestatus: IsOffline }"/>
            <p class="username"><strong data-bind="text: Name, click: $parent.ChangeChanel, css: { imggray: IsOffline }"></strong></p>
            <div class="list-buttons">
                <span class="glyphicon glyphicon-comment" data-bind="css: { imggray: IsOffline, hiddecommentglyph: AllRead }"></span>
                <span class="glyphicon glyphicon-option-vertical" data-bind="css: { imggray: IsOffline }"></span>
            </div>
        </div>
    </div>
</div>

<a href="#" class="floating-button"></a>