@import "bootstrap/bootstrap.less";
@import "fontawesome/font-awesome.less";
@import "Material/Material.less";
@import "variables.less";
@import "Login.less";
@import "aside.less";
@import "messages.less";

/* 
    bootstrap/variables.less
    tam jest defioniowane wiele bootstrapowych zmiennych, i warto tam nadpisywać te
     zmienne, zamiast tworzyć koło od nowa. Wszystkie zmienne tam zadelkarowane można tu używać
*/



.chat-wrapper {
    color: @primaryTextColor;
    height: 100vh;
    width: 100vw;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}



body {
    color: @primaryTextColor;
    height: 100vh;
    width: 100vw;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
